<!-- Nav tabs -->

<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Ma+Shan+Zheng|Open+Sans|PT+Serif&display=swap"
        rel="stylesheet">
</head>

<body>


    <ul class="nav nav-tabs " id="navId">
        <li class="nav-item">
            <a href="#tab1Id" class="nav-link active"><span>Resume</span><span
                    style='color:fuchsia;'>Coach.com</span></a>
        </li>


        <li class="Login">
            <a routerLink="/Login" routerLinkActive="active">Login</a>
        </li>

        <li class="Signup">
            <a routerLink="/Signup" routerLinkActive="active">Signup</a>
        </li>




        <div class="rotateDiv">
            R


        </div>


    </ul>

    <div class="welcome">
        <div class=" Welcometext">
            <div class="text">
                <h1 class="">Templates For A Winning Resume</h1>
                <p>Use a Resume Template from our selection of Professionally Tailored Resume Templates. Get 70% more
                    interviews. More than 5 million users have already found the job they deserve with us.</p>

                <a href="#" id="googleButton"> <i class="fab fa-google" style="color:red;padding-right: 10px;"></i>Start
                    With Google </a>
                <a href="#" id="chooseButton" style="background-color:  #FF6767; color:white;"><i
                        class="fas fa-address-card" style="padding-right:10px;color:white;"></i>Choose Your
                    Template</a>
            </div>








        </div>


        <div class="Benefits">
            <div class="container-fluid">
                <div class="leftBenefits">
                    <div class="fstBenefit">

                        <i class="fas fa-trophy"></i>
                        <p><span>Job-winning Templates </span><br> Be in the top 3% that gets past the first round.</p>

                    </div>

                    <div class="scdBenefit">
                        <span><i class="far fa-envelope"></i></span>
                        <p><span>Professional Cover Letter Creator</span><br>
                            Enjoy effective cover letter guidance and inspiring example</p>

                    </div>
                </div>

                <img src="../../assets/img/1.png" alt="image" class="img-fluid" id="benefitsImg">


                <div class="rightBenefits">
                    <div class="trdBenefit">
                        <span><i class="fas fa-search"></i></span>
                        <p><span>Integrated Job Search</span><br>
                            Find jobs quickly that match your experience.</p>

                    </div>
                    <div class="fthBenefit">


                        <span><i class="fas fa-ruler"></i></span>
                        <p><span>Step-by-step coach</span> <br>
                            Expert advice and real-life examples from successful jobseekers.</p>

                    </div>
                </div>
            </div>

        </div>

    </div>









    <section class="Slider">

        <div class="sliderType container-fluid">

            <h2>The best professional resume
                templates available</h2>

            <div class="sliderLinks">
                <a href="#">All</a>
                <a href="#">With Photo</a>
                <a href="#">No Photo</a>
                <a href="#">Cover Letters</a>
            </div>






        </div>


        <div id="sliderImages">
            <img src="../../assets/img/1.png" alt="First slide" class="carouselImages">
            <img src="../../assets/img/2.jpeg" alt="First slide" class="carouselImages">
            <img src="../../assets/img/3.png" alt="First slide" class="carouselImages">
            <img src="../../assets/img/4.png" alt="First slide" class="carouselImages">
            <img src="../../assets/img/5.png" alt="First slide" class="carouselImages">


        </div>
    </section>



    <section class="hints">

        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <h5>RESUME TOOLS</h5>
                    <p>RESUME EXAMPLES</p>
                    <p>RESUME WRITING GUIDE</p>
                    <p>RESUME FORMAT</p>
                    <p>RESUME TEMPLATES</p>
                    <p>PROFESSIONAL RESUME</p>
                    <p>ENTRY-LEVEL RESUME</p>

                </div>
                <div class="col-md-4">
                    <h5>ABOUT RESUME COACH</h5>
                    <p>ABOUT US</p>
                    <p>CONTACT US</p>
                    <p>FFILIATE PROGRAM</p>
                </div>

                <div class="col-md-4">
                    <h5>SUPPORT</h5>
                    <p>TERMS & CONDITIONS</p>
                    <p>PRIVACY</p>
                    <p>POLICY</p>
                    <p>FAQ</p>
                </div>


            </div>
        </div>



    </section>

    <section class="copyRights">
        Copy Rights 2019@Omar-Moustafa ,All Rights Reserved
    </section>




</body>




<script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>