<head>

    <link href="https://fonts.googleapis.com/css?family=Abel|Arvo|Montserrat|PT+Serif|Roboto&display=swap"
        rel="stylesheet">
</head>
<div class="loginForm">

    <a href="#tab1Id" class="nav-link active"><span>Resume</span><span style='color:fuchsia;'>Coach.com</span></a>
    <div class="rotateDiv">
        R
    </div>

    <div>
        <p class="firstPar">Create an account to launch your career
        </p>

        <p class="secondPar">Instantly start building your professional profile

        </p>
    </div>


    <div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="row">

                <div class="col-md-12">

                    <label for="sign-in-email-label" class="active">E-mail address</label>

                    <input required formControlName="Email" type="email" autocapitalize="none" id="email" name="mail"
                        class="form-control" value="" />

                    <small *ngIf="addForm.get('Email').hasError('required')&& addForm.get('Email').touched"> *Email Is
                        Required* </small>
                    <small *ngIf="addForm.get('Email').hasError('maxlength')">*MaxLength:30 Characters*</small>

                </div>

                <div class="col-md-12">

                    <label for="Password-label" class="active">Password</label>

                    <input required formControlName="Password" type="password" name="pass" id="pass"
                        class="form-control" />


                    <small *ngIf="addForm.get('Password').hasError('required')&& addForm.get('Password').touched">
                        *password Is Required* </small>

                    <small *ngIf="addForm.get('Password').hasError('maxlength')&& addForm.get('Password').touched">
                        *MaxLength 12 characters*
                    </small>






                </div>
                <div class="col-md-12">
                    <input required type="checkbox" style="float: left ;margin-top: 6px; margin-bottom: 20px;" />
                    <label style=" font-size: 15px; ">I hereby accept the <a
                            style="color:#e74e93; text-decoration:none">Terms
                            and Conditions</a> and <a style="color:#e74e93; text-decoration:none">Privacy Policy</a> of
                        alt.</label>

                </div>


                <div class="col-md-12" style="text-align: center;">

                    <div><button id="subButton" type="submit">Sign Up Free</button> </div>
                    <p class="signupNow">Already have an account? <a href="#">Log in now</a></p>
                    <p class="signinSocial">Sign in With Social Network</p>
                    <div class="Social">

                        <span><a><i class="fab fa-google-plus-g"></i></a></span>
                        <span class="Google">
                            Google
                        </span>
                        <span><a><i class="fab fa-linkedin-in"></i></a></span>
                        <span class="linkedIn">
                            Linked in
                        </span>


                    </div>


                </div>
            </div>
        </form>
    </div>

</div>