<section class="languageDetails">

    <h5>Languages</h5>

    <div class="Languages">


        <div>


            <span> ENGLISH</span>
            <input type="radio">

        </div>

        <div>


            <span> ARABIC</span>
            <input type="radio">

        </div>

        <div>


            <span> HINDI</span>
            <input type="radio">

        </div>

        <div>


            <span>SPANISH</span>
            <input type="radio">
        </div>

        <div>


            <span> DEUTSCH</span>
            <input type="radio">
        </div>

        <div>


            <span> ITALIC</span>
            <input type="radio">
        </div>

        <div>


            <span> PORTUGALISH</span>
            <input type="radio">
        </div>

        <div>


            <span> KOREAN</span>
            <input type="radio">
        </div>

        <div>


            <span> FRANCAIS</span>
            <input type="radio">
        </div>

        <div>


            <span> NERTHELANDS</span>
            <input type="radio">
        </div>

        <div>


            <span> POLSKI</span>
            <input type="radio">
        </div>

        <div>


            <span> 中文</span>
            <input type="radio">
        </div>





    </div>
</section>