<section class="templates">

    <h5>Templates</h5>

    <img src="../../assets/img/1.png" class="img-fluid temlateImgs" />

    <img src="../../assets/img/10.jpg" class="img-fluid temlateImgs" />

    <img src="../../assets/img/2.jpeg" class="img-fluid temlateImgs" />

    <img src="../../assets/img/3.png" class="img-fluid temlateImgs" />

    <img src="../../assets/img/4.png" class="img-fluid temlateImgs" />

    <img src="../../assets/img/5.png" class="img-fluid temlateImgs" />

    <img src="../../assets/img/6.png" class="img-fluid temlateImgs" />



</section>