<fieldset formGroupName="Education">

    <h5 style="margin-top: 50px; margin-bottom: 50px;">Education :</h5>

    <input type="text" formControlName="Title" class="form-control" maxlength="30" placeholder="Title">
    <small>e.g Job Title</small>
    <input formControlName="Place" class="form-control" placeholder="Place">
    <small> e.g Place you alearned or graduated in</small>
    <input type="text" formControlName="Discuss" class="form-control" placeholder="discuss">
    <small>Any improve</small>




</fieldset>