<section class="sectionsDetails">

    <h5>Sections</h5>

    <div class="Sections">


        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>

        <div>


            <span> Objective</span>
            <input type="checkbox">
            <p>A strong opening statement which outlines your strengths and relevant experience.</p>
        </div>





    </div>
</section>