.sectionsDetails h5 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.Sections {
    padding: 20px;
    background-color: white;
    border-bottom: 1px;

}

.Sections span {

    font-family: 18px;
    color: #26a0f4;
    font-weight: 500;

}

.Sections div {

    border-bottom: solid 1px #e0e0e0;
    padding: 5px;

}


.Sections input {
    float: right;
    margin-top: 10px;
}

.sectionsDetails {
    overflow: scroll;
    height: 500px;
}