<fieldset formGroupName="Experience">

    <h5 style="margin-top: 50px; margin-bottom: 50px;">Experience :</h5>

    <input type="text" formControlName="Place" class="form-control" maxlength="30" placeholder="Place">
    <small>e.g San Fransisco</small>
    <input formControlName="Time" class="form-control" placeholder="Time">
    <small> e.g 2013-2014</small>
    <input type="text" formControlName="Title" class="form-control" placeholder="Title">
    <small>e.g Front-end Web Developer</small>

    <textarea type="text" formControlName="Typeofex" class="form-control" maxlength="200" style="height: 150px;"
        placeholder="Type of your ex">Omar </textarea>



</fieldset>