<fieldset formGroupName="SAL">

    <h5 style="margin-top: 50px; margin-bottom: 25px;">Skills and Languages:</h5>

    <input type="text" formControlName="Skill1" class="form-control" maxlength="30" placeholder="Skill1">

    <input type="text" formControlName="Skill2" class="form-control" maxlength="30" placeholder="Skill2">

    <input type="text" formControlName="Skill3" class="form-control" maxlength="30" placeholder="Skill3">

    <input type="text" formControlName="Skill4" class="form-control" maxlength="30" placeholder="Skill4">

    <input type="text" formControlName="Skill5" class="form-control" maxlength="30" placeholder="Skill5">

    <input type="text" formControlName="Lang1" class="form-control" maxlength="30" placeholder="Lang1">

    <input type="text" formControlName="Lang2" class="form-control" maxlength="30" placeholder="Lang2">

    <input type="text" formControlName="Lang3" class="form-control" maxlength="30" placeholder="Lang3">

    <input type="text" formControlName="Lang4" class="form-control" maxlength="30" placeholder="Lang4">

    <input type="text" formControlName="Lang5" class="form-control" maxlength="30" placeholder="Lang5">





</fieldset>